.search-and-borrow {
  padding: 20px 10%;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin: 10px 0 20px 0;
  border-bottom: 1px solid rgb(50, 50, 50);
}

.search-book {
  margin-bottom: 10px;
}

.search-book > input {
  width: 100%;
  font-size: 1.3em;
}

.book-list > table {
  margin: 0 auto;
  width: 100%;
}

table, th, td {
  text-align: center;
}
