.page-content {
    width: 100%;
    background-color: rgb(160, 169, 170);
}

#sidebar{
  padding-top: 50px;
  text-align: center;
  font-size: 1.2em;
  background-color: rgb(23, 34, 48);
}

#main-content{
  background-color: rgb(52, 71, 90);
}
