<div class="tab-container">
  <div class="row-fluid cards">
    <div class="card-deck">
      <div class="card mb-3 card-theme">
        <div class="card-header card-heading-theme">
          <h5>Top book genres</h5>
        </div>
        <div class="card-body card-body-theme">
          <app-top-genres-chart></app-top-genres-chart>
        </div>
      </div>
      <div class="card mb-3 card-theme">
        <div class="card-header card-heading-theme">
          <h5>Monthly borrowings</h5>
        </div>
        <div class="card-body card-body-theme">
          <app-monthly-borrowing-chart></app-monthly-borrowing-chart>
        </div>
      </div>
      <div class="card mb-3 card-theme">
        <div class="card-header card-heading-theme">
          <h5>Most often borrowed books</h5>
        </div>
        <div class="card-body card-body-theme">
          <app-top-books-chart></app-top-books-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid cards">
    <div class="card-deck">
      <div class="card mb-3 card-theme">
        <div class="card-header card-heading-theme">
          <h5>General monthly borrowings</h5>
        </div>
        <div class="card-body card-body-theme">
          <app-general-borrowing-chart></app-general-borrowing-chart>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
  donut : wypozyczane gatunki
  lista numerowana najczesciej wypozyczanych ksiazek w danym miesiacu (top5)
  linowy : miesieczne wypozyczenia z 6 msc przez kobiety i meżczyzn
-->
